# LangGraph Configuration
NEXT_PUBLIC_ASSISTANT_ID="agent"
NEXT_PUBLIC_AGENTCORE_RUNTIME_ARN=arn:aws:bedrock-agentcore:us-east-1:974960840450:runtime/BasicAgentDemo_BasicAgent-VKIBZLHrLl
NEXT_PUBLIC_DEFAULT_RUNTIME_SESSION_ID=localhost
# Agentcore JWT Auth details
NEXT_PUBLIC_AGENTCORE_OIDC_URL=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_OuWTmjT6s/.well-known/openid-configuration
NEXT_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_OuWTmjT6s
NEXT_PUBLIC_COGNITO_CLIENT_ID=6u0k7o2omnfm9gbob7ipbg5hnj
NEXT_PUBLIC_AWS_REGION="us-east-1"
